{% extends 'base.html' %}
{% block contents %}
{% load static %}
<head>
    <style>
        .container{
            display:block;
            margin:20px auto;
        }
    </style>
</head>
{% if not user.is_authenticated %}
    로그인을 해주세요.
{% endif %}
{% if user.is_authenticated %}
    <div class="card container" style="width: 18rem;">
        {% load static %}
        <img src="{% static 'profile.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{user.nickname}}</h5>
          <p class="card-text">{{user.body}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{user.username}}</li>
          <li class="list-group-item">{{user.email}}</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">수정하기</a>
          <a href="#" class="card-link">회원탈퇴</a>
        </div>
    </div>
{% endif %}
{% endblock %}