{% extends 'base.html' %}
{% block contents %}
{% load static %}
<div class="page-body">
    <div class="container">
        <div class="box">
            <div class="title">
                <a href="{% url 'profiles' %}">
                    프로필
                </a>
            </div>
            <div class="content">
                유저들의 프로<br>필을 봅시다.
            </div>
        </div>
        <div class="box">
            <div class="title">
                공지사항
            </div>
            <div class="content">
                어떻게 사용하는가 !
            </div>
        </div>
    </div>
    <div class="container"> 
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="width:95%">
            <div class="carousel" style="width:100%">
                <div class="carousel-item active" style="width:100%">
                    <div class="box2">
                        <div class="title">
                            <a href="{% url 'contest' %}" style="font-size:0.8em">많은 행사를 찾아보세요</a>
                        </div>
                        <div class="content">
                            모임, 행사, 단체를 이어주는 휴먼커넥트
                        </div>
                    </div>
                </div>
                {% for c in Contests%}
                <div class="carousel-item" style="width:100%">
                    <div class="box2">
                        <div class="title">
                            <a href="{% url 'contest' %}" style="font-size:0.8em;">{{c.title}}</a>
                        </div>
                        <div class="content">
                            {{c.pub_date}}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="container"></div>
    <div id="carouselExampleControls2" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="box3">
                <div class="card">
                    <img src="{% static 'music.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title title">음악</h5>
                            <p class="card-text">음반 기획.제작자들의 모임</p>
                            <button type="button" class="btn btn-outline-primary"><a href="puppy.html">보기</a></button>
                        </div>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="box3">
                <div class="card">
                    <img src="{% static 'coding.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title title">코딩</h5>
                            <p class="card-text contnet">순수한 코딩 개발자들의 모임</p>
                            <button type="button" class="btn btn-outline-primary"><a href="pp1.html">보기</a></button>
                        </div>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="box3">
                <div class="card">
                    <img src="guitar.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title title">rkeqirjfdais</h5>
                            <p class="card-text contnet">기타 동아리원 모집</p>
                            <button type="button" class="btn btn-outline-primary"><a href="pp1.html">보기</a></button>
                        </div>
                </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true""></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
<div class="page-footer">
</div>
{% endblock %}