{% extends 'base.html' %}
{% block contents %}
<div class="card mb-3" style="max-width:90%;margin: 20px auto; border-color:#81BEF7">
    <div class="card-header">그룹이란?</div>
    <div class="card-body text-dark">
        <h5 class="card-title">조직 집단 동아리 모임</h5>
        <p class="card-text">서로 관심 있는 분야에 대해서 조직을 이뤄 활동</p>
        <p class="card-text">그룹 게시판에서 찾아볼 수 있고 그룹을 만들 수도 있다</p>

    </div>
</div>
<div class="card mb-3" style="max-width:90%;margin: 20px auto; border-color:#81BEF7">
    <div class="card-header">행사</div>
    <div class="card-body text-dark">
        <h5 class="card-title">경기 행사 공모전 개인행사</h5>
        <p class="card-text">행사 정보에 대해서 알기도하고 알려주기도하며 참가한다.</p>
    </div>
</div>
<div class="card mb-3" style="max-width:90%;margin: 20px auto; border-color:#81BEF7">
    <div class="card-header">이웃 프로필</div>
    <div class="card-body text-dark">
        <h5 class="card-title">자기소개 이웃찾기</h5>
        <p class="card-text">같은 관심을 갖고 있는 이웃을 찾는다.</p>
    </div>
</div>
{% endblock %}